<p>Transaction component will go here: simply a table w/ date, trans type, amount, etc.</p>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Account #</th>
    <th scope="col">Date</th>
    <th scope="col">Balance</th>
    <th scope="col">Deposit/Withdrawal</th>
    <th scope="col">Amount</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">123456</th>
    <td>11/01/2020</td>
    <td>5000</td>
    <td>N/A</td>
    <td></td>
    <td>Starting balance</td>
  </tr>
  <tr>
    <th scope="row">123456</th>
    <td>11/01/2020</td>
    <td>4000</td>
    <td>Withdrawal</td>
    <td>1000</td>
    <td>Rent</td>
  </tr>
  <tr>
    <th scope="row">123456</th>
    <td>11/01/2020</td>
    <td>4500</td>
    <td>Deposit</td>
    <td>500</td>
    <td>Lawsuit Settlement</td>
  </tr>
  </tbody>
</table>
<br>
